
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: left;
}

body {
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    background-color: #000;
    color: #fff;

}

.container {
    display: flex;
    flex-direction: column; /*al poner flex direction; column y justify content: space-between se separan el topbar del título con el botón*/
    justify-content: space-between;
    align-items: left;
    height: 100vh; /*el container ocupará el 100% de la pantalla*/
    background: url(images/test-landing-id3\ 1.png) no-repeat center center/cover;
    position: relative;
}

.header {
    position: relative;
    z-index: 2;
    width: 100%;
    padding: 10px;
    text-align: left;
    align-items: left;
    max-width: 25%;
  }

  .header img {
    max-width: 150px;
  }

  .header h1 {
    font-size: 1.5rem;
    margin-top: 10px;
  }

  .content {
    position: relative;
    z-index: 2;
    text-align: center;
    padding: 20px;
  }

  .content h2 {
    font-size: 2.5rem;
    margin-bottom: 0px;
    line-height: 1.2;
  }

  .content h3{
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    line-height: 1.2;

  }

  .content p {
    font-size: 1.3rem;
    margin-bottom: 0px;
    line-height: 1.2;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
  }

  .content button {
    background-color: #EF7D00;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    display: flex;
    margin-top: 15px;
    margin-bottom: 20px;
  }

  .content button:hover {
    background-color: #f16210;
  }

  .orange{
    color: #EF7D00;
    max-width: 70%;
  }

  .left{
    position: absolute;
    top: 2rem;
    left: 1rem;
    padding-bottom: 0px;
  }

  .right{
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  .design{
    width: 100%;
    background-color: #fff;
    color: #333;
    padding-block: 70px; 
    padding-inline: 20px;
  }


.design__title h3{
  line-height: 3rem;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 3rem;
  font-weight: 100;
}

.design__title__orange {
  color: #EF7D00;
}

.design__title p{
  font-size:1.2rem;
  font-family:'Inter', sans-serif;
  font-weight: 400;
  line-height: 1.4rem;
  padding-top: 10px;
  padding-bottom: 30px;
}

.design__title img{
  display: inline-block;
  object-fit: cover;
  width: 100%;
}

.carousel_btns{
display: flex;
justify-content: flex-end;
align-items: center;
gap: 2rem;
align-self: stretch;
}

.carousel_btn{
  display:inline-block;
  margin-top: 20px;
  background-color: #444;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  text-align: center;
  padding-top: 0.3rem;
  height: 2.8rem;
  width: 2.8rem;
  border-radius: 50%;
  
}

.projects{
  background-color: rgb(238, 240, 245);
  align-self: stretch;
  padding-bottom: 10px;
  
}

.center{ /* PARA CENTRAR ELEMENTOS */
  display: flex;
  flex-direction: column; /* Si hay más elementos y quieres apilarlos */
  justify-content: center; /* Centrado vertical */
  align-items: center; /* Centrado horizontal */
  text-align: center; /* Centra el texto dentro del contenedor */
  height: 100%; /* Asegúrate de que tenga suficiente altura para centrar */
  padding: 70px 20px; /* Mantén el padding existente */
}

.projects p{
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.2rem;
}

.projects img{
  max-width: 15rem;
  margin-top: 1rem;
}

.training_info_title{
  margin-top: 3rem;
  display: flex;
  align-items: start;/* solución a iconos alineados arriba en el texto, hace que el div que contiene el icono y el título se alineen de forma correcta  */
}

.training_info{
  margin-top: 3.5rem;
  gap: 2rem;
}

.training_info img{
  display: inline-block;
  margin-right: 1rem;
}

.training_info h6{
  display:inline-block;
  font-size: 1.2rem;
  color: var(--color_text, #3C3C3C);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.44px;
  margin-bottom: 5px;
  max-width: 70%;
}

.training_info p{
  margin-left: 3.5rem;
}

.vscode{
  max-width: 100%;
}

.place_reservation{
  font-family: 'Inter', sans-serif;
  height: 100vh; /*el container ocupará el 100% de la pantalla*/
  background: url(images/test-landing-id3\ 1.png) no-repeat center center/cover;
   /* Activar Flexbox para centrar todo el contenido */
   text-align: center; /* Centra horizontalmente el texto dentro del contenedor */
  position: relative;/* para alinear el texto y el botón al centro de la pantalla, en el hijo pones la absoluta*/
}

.place_reservation_div{
  display: flex;/* Activa el modelo Flexbox */
  flex-direction: column;/* Alinea elementos en columna */
  justify-content: center;/* Centra los elementos verticalmente */
  align-items: center; /* Centra los elementos horizontalmente */
  position:absolute; /* para alinear el texto y el botón al centro de la pantalla */
  top: 0;
  bottom: 0;
  left:0;
  right: 0;
}

.place_reservation h3{
  text-align: center;
  font-size: 2.3rem;
  line-height: 2.5rem;
  font-weight: 300;
  padding-inline: 1.5rem;
}

.place_reservation button{
  margin-top: 1rem; /* Espaciado entre el texto y el botón */
  padding: 0.7rem; /* Tamaño del botón */
  font-size: 1.2rem; /* Tamaño del texto en el botón */
  background-color: #EF7D00;
  color: white;
  border: none;
  border-radius: 6px;
  margin-inline: 10rem;
  min-width: 220px;
  text-align: center;
}

.open_enrollment{
  display: flex;
  margin-bottom: 2rem;
}

.open_enrollment h6{
  font-size: 1.2rem;
  color: var(--color_text, #3C3C3C);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.44px;
  margin-bottom: 2px;
}

.open_enrollment_content{
  display: inline-block;
}

.open_enrollment img{
  margin-right: 16px;
}

.profesional_card h5{
  font-size: 1.5rem;
}

.profesional_card h6{
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
}

.profesional_card p{
  font-weight: 300;
  line-height: 1.2rem;
}

.why_us{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap:24px;
  flex: 1 0 0;
  align-self: stretch;
  margin-top: 3.5rem;
}

.why_us p{
  line-height: 1.2rem;
  font-weight: 200;
  margin-top: auto;
}

.why_us h3{
  font-size: 1.5rem;
}

.why_us img{
  margin-bottom: 1.4rem;
}
/* en vez de poner dos cards poner solo una y luego añadir una clase que sea white y otra que sea orang*/
.orange_card{
  background-color: #EF7D00;
  border-radius: 12px;
  color: #fff;
  padding: 24px;
  height: 15rem;
}

.white_card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1;/* Permite que todas las cards tengan la misma altura */
  align-self: stretch;
  border: 1px solid rgba(0,0,0,0.2); /* 1px de grosor, solid=tipo de linea*/
  border-radius: 12px;
  padding: 24px;
  box-sizing: content-box;
  min-height: 11rem; /* min-height es lo que hará que la tarjeta tenga un tamaño mínimo */
}

.card_align{
  align-items: end;
}

.line-height{
  margin-bottom: 0.6rem;
  font-size: 1.2rem;
}

.image-margin{
  margin-top: 4rem;
}

.footer-style{
  background-color: #333;
  color: #fff;
  padding-bottom: 3rem;
}

.footer-style img{
  margin: 2rem;
}

.footer-style p{
  margin-inline: 2rem;
}

.footer-style--text p{
  margin-block: 1rem;
  font-weight: 300;
}

.footer-style--text{
  margin-bottom: 6rem;
}

.last-word{
  margin-top: 2rem;
}